<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      {{ if .IsHome }}Index of {{ .RelPermalink }}{{ else }}Index of {{
      .RelPermalink }}{{ end }}
    </title>
    <link rel="stylesheet" href="{{ `css/mobile.css` | relURL }}" />
    <script src="{{ `js/index-tools.js` | relURL }}" defer></script>
  </head>
  <body>
    <main class="page">{{ block "main" . }}{{ end }}</main>
  </body>
</html>
