{{ define "main" }} {{ $parent := "/" }} {{ with .Parent }}{{ $parent =
.RelPermalink }}{{ end }}
<h1>Index of {{ .RelPermalink }}</h1>
{{ partial "breadcrumb.html" . }}
<p class="sort-links" id="sort-links">
  [sort: <a href="?sort=name" data-sort="name">name</a> |
  <a href="?sort=date" data-sort="date">date</a> |
  <a href="?sort=size" data-sort="size">size</a>]
</p>
<hr />
<pre id="dir-list">
Name                               Last modified        Size     Type  Summary
<a class="name-col" href="{{ $parent }}">Parent Directory</a>      {{ printf "%-20s" "-" }} {{ printf "%-8s" "-" }} dir   Go up one level
{{- range .Pages.ByDate.Reverse }}
<span class="dir-entry" data-name="{{ lower .File.BaseFileName }}" data-date="{{ .Date.Unix }}" data-size="{{ len .Plain }}" data-type="txt"><a class="name-col" href="{{ .RelPermalink }}">{{ printf "%s/" .File.BaseFileName }}</a> {{ printf "%-20s" (.Date.Format "02-Jan-2006 15:04") }} {{ printf "%-8s" (printf "%dB" (len .Plain)) }} txt   {{ .Summary | plainify | truncate 42 }}</span>
{{- end }}
</pre>
<div class="mobile-only">
  <p>Parent Directory: <a href="{{ $parent }}">..</a></p>
  <ul>
    {{ range .Pages.ByDate.Reverse }}
    <li>
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      <small
        >{{ .Date.Format "2006-01-02" }} - {{ .Summary | plainify | truncate 70
        }}</small
      >
    </li>
    {{ end }}
  </ul>
</div>
<hr />
<p>README: article archive. Click an entry to open it.</p>
{{ end }}
