{{ define "main" }} {{ $parent := "/" }} {{ with .Parent }}{{ $parent =
.RelPermalink }}{{ end }}
<link rel="stylesheet" href="{{ `css/article.css` | relURL }}" />
<h1>Index of {{ .RelPermalink }}</h1>
{{ partial "breadcrumb.html" . }}
<hr />
<section class="article-shell">
  <pre class="article-readme">
<a href="{{ $parent }}">Parent Directory</a>

README.txt
----------
Title: {{ .Title }}
Date: {{ .Date.Format "2006-01-02" }}
URL: {{ .RelPermalink }}
</pre>
  <article class="article-content">{{ .Content }}</article>
</section>
<hr />
{{ end }}
