{{ define "main" }}
<h1>Index of {{ .RelPermalink }}</h1>
{{ partial "breadcrumb.html" . }}
<hr />
<pre>
<a href="/">Parent Directory</a>

README.txt
----------
Type one or more words. Search scans titles and text.
</pre>
<form id="search-form" action="{{ .RelPermalink }}" method="get">
  <label for="q">Query:</label>
  <input id="q" name="q" type="search" autocomplete="off" />
  <button type="submit">Search</button>
</form>
<pre id="search-results">
No query yet.
</pre>
<script src="{{ `js/search.js` | relURL }}" defer></script>
<hr />
{{ end }}
